name: Swift Package

on:
  pull_request:
    branches: '**'

jobs:
  verify:
    name: Verify Package
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Checkout couchbase-lite-ios-release-verify
      run: |   
        git clone https://github.com/couchbaselabs/couchbase-lite-ios-release-verify.git
    - name: Validate
      run: |
        ./couchbase-lite-ios-release-verify/Scripts/verify_spm.sh -b ${{ github.head_ref }} -vs 2.0.0 --ee
